---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: site24x7
  namespace: {{ .Values.kubernetes.namespace }}
automountServiceAccountToken: true
---
apiVersion: {{ .Values.apiversion }}
kind: ClusterRole
metadata:
  name: site24x7
rules:
- apiGroups: [""]
  resources:
  - configmaps
  - secrets
  - nodes
  - pods
  - services
  - resourcequotas
  - replicationcontrollers
  - limitranges
  - persistentvolumeclaims
  - persistentvolumes
  - namespaces
  - endpoints
  - componentstatuses
  - events
  verbs: ["list", "watch"]
- apiGroups: ["extensions"]
  resources:
  - daemonsets
  - deployments
  - replicasets
  - ingresses
  verbs: ["list", "watch"]
- apiGroups: ["apps"]
  resources:
  - daemonsets
  - deployments
  - replicasets
  - statefulsets
  verbs: ["list", "watch"]
- apiGroups: ["events.k8s.io"]
  resources:
  - events
  verbs: ["list","watch"]
- apiGroups: ["batch"]
  resources:
  - cronjobs
  - jobs
  verbs: ["list", "watch"]
- apiGroups: ["autoscaling"]
  resources:
  - horizontalpodautoscalers
  verbs: ["list", "watch"]
- apiGroups: ["policy"]
  resources:
  - poddisruptionbudgets
  verbs: ["list", "watch"]
- apiGroups: ["certificates.k8s.io"]
  resources:
  - certificatesigningrequests
  verbs: ["list", "watch"]
- apiGroups:  # Kubelet connectivity
  - ""
  resources:
  - nodes/metrics
  - nodes/stats
  - nodes/metrics/cadvisor
  - nodes/proxy
  verbs:
  - get
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - watch
---
apiVersion: {{ .Values.apiversion }}
kind: ClusterRoleBinding
metadata:
  name: site24x7
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: site24x7
subjects:
- kind: ServiceAccount
  name: site24x7
  namespace: {{ .Values.kubernetes.namespace }}
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: site24x7-agent
  namespace: {{ .Values.kubernetes.namespace }}
spec:
  selector:
    matchLabels:
      app: site24x7-agent
  updateStrategy:
      type: RollingUpdate # Only supported in Kubernetes version 1.6 or later.
  template:
    metadata:
      labels:      
        app: site24x7-agent
      name: site24x7-agent
    spec:
      serviceAccountName: site24x7
      nodeSelector:
        kubernetes.io/os: linux
      containers:
      - image: {{ .Values.registry }}
        imagePullPolicy: Always
        name: site24x7-agent
        env:
          - name: KEY
            value: {{ .Values.site24x7.device_key }}
          - name: installer
            value: helm-kubernetes
          - name: NODE_IP
            valueFrom:
              fieldRef:
                 fieldPath: status.hostIP
          - name: installer
            value: kubernetes
          {{- if .Values.site24x7.display_name }}
          - name: CLUSTER_NAME
            value: {{ .Values.site24x7.display_name }}
          {{- end }}
          {{- if .Values.site24x7.http_proxy }}
          - name: http_proxy
            value: {{ .Values.site24x7.http_proxy }}
          {{- end }}
          {{- if .Values.site24x7.https_proxy }}
          - name: https_proxy
            value: {{ .Values.site24x7.https_proxy }}
          {{- end }}
          {{- if .Values.kubernetes.kube_state_metrics_url }}
          - name: KUBE_STATE_METRICS_URL
            value: {{ .Values.kubernetes.kube_state_metrics_url }}
          {{- end }}
          {{- if .Values.kubernetes.kube_api_server_endpoint_url }}
          - name: API_SERVER_ENDPOINT_URL
            value: {{ .Values.kubernetes.kube_api_server_endpoint_url }}
          {{- end }}
        volumeMounts:
          - name: dockersocket
            mountPath: /var/run/docker.sock
          - name: procfs
            mountPath: /host/proc
            readOnly: true
          - name: sysfs
            mountPath: /host/sys/
            readOnly: true
          - name: varfs
            mountPath: /host/var/
            readOnly: true
          - name: etcfs
            mountPath: /host/etc/
            readOnly: true
      volumes:
        - hostPath:
            path: /var/run/docker.sock
          name: dockersocket
        - hostPath:
            path: /proc
          name: procfs
        - hostPath:
            path: /sys/
          name: sysfs
        - hostPath:
            path: /var/
          name: varfs
        - hostPath:
            path: /etc/
          name: etcfs
---
